
body {
    font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
    background: black;
}

p {
    font-family: font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
}