@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
    body {
        color: #eee;
        background: #121212;
        font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
    }
    a {
        color: #6F5ED9;
        font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
    }
    p {
        font-family: font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
        text-align: center;
        font-size: 60px;
        color: #eee;
    }
}
  
@media (prefers-color-scheme: light) {
    /* Light theme styles go here */
    :root {
        color: #222;
        background: #fff;
        font-family: "Open Sans", -apple-system, "Helvetica Neue", "sans-serif", "Arial";
    }
    a {
        color: #6F5ED9;
    }
    p {
        text-align: center;
        font-size: 60px;
    }
}
